postgresqlPostgresPassword: "{{ postgresql_admin_password }}"
postgresqlUsername: db-user
postgresqlPassword: password
postgresqlDatabase: db

metrics:
  enabled: true
  serviceMonitor:
    enabled: true
