apiVersion: v1
data:
  data.sql: |-
    CREATE DATABASE {{ mysql_db_name }};
    CREATE USER '{{ mysql_db_user_name }}'@'%' IDENTIFIED BY '{{ mysql_db_user_password }}';
    GRANT ALL ON {{ mysql_db_name }}.* TO '{{ mysql_db_user_name }}'@'%';
    FLUSH PRIVILEGES;
kind: ConfigMap
metadata:
  name: mysql-init-script
  namespace: bdd