##
## KubeDB chart configuration
##
# Declare variables to be passed into your templates.

# License for the product.
# Get a license by following the steps from [here](https://kubedb.run/docs/latest/setup/install/enterprise#get-a-trial-license).
# Example:
# helm install appscode/kubedb-enterprise \
#   --set-file license=/path/to/license/file
# or
# helm install appscode/kubedb-enterprise \
#   --set license=<license file content>
license: "{{ kubedb_licence }}"

# If true, sends usage analytics
enableAnalytics: true
monitoring:
  # If true, enables monitoring KubeDB operator
  enabled: true
  # Name of monitoring agent (either "prometheus.io/operator" or "prometheus.io/builtin")
  agent: "prometheus.io/operator"
  serviceMonitor:
    # Specify the labels for ServiceMonitor.
    # Prometheus crd will select ServiceMonitor using these labels.
    # Only usable when monitoring agent is `prometheus.io/operator`.
    labels:
      release: prometheus
