existingSecret: ""
accessKey: "{{ minio_AccessKey }}"
secretKey: "{{ minio_SecretKey }}"
buckets: {{ minio_buckets }}
certsPath: "/etc/minio/certs/"
configPathmc: "/etc/minio/mc/"
mountPath: "/export"
persistence:
  enabled: true
  storageClass: "{{ StorageClassName }}"
ingress:
  enabled: true
  annotations: 
    kubernetes.io/ingress.class: "{{ IngressClass }}"
    kubernetes.io/tls-acme: "true"
    cert-manager.io/cluster-issuer: "{{ ClusterIssuer }}"
    kubernetes.io/ingress.allow-http: "false"
  path: /
  hosts:
    - "minio.{{ cluster_name }}"
  tls: 
    - secretName: "{{ kubed_cert }}"
      hosts:
        - "minio.{{ cluster_name }}"
metrics:
  serviceMonitor:
    enabled: true
    interval: 10s
    scrapeTimeout: 10s
    additionalLabels:
      release: prometheus