apiVersion: rbacmanager.reactiveops.io/v1beta1
kind: RBACDefinition
metadata:
    name: admin-access
rbacBindings:
    - name: admin
      subjects:
          - kind: User
            name: "{{ rbacemailAdmin }}"
      clusterRoleBindings:
          - clusterRole: cluster-admin
---
apiVersion: rbacmanager.reactiveops.io/v1beta1
kind: RBACDefinition
metadata:
    name: ops-access
rbacBindings:
    - name: ops
      subjects:
          - kind: User
            name: "{{ rbacemailOps }}"
      roleBindings:
          - clusterRole: ops
            namespaceSelector:
              matchLabels:
                level: ops
                level: dev
---
apiVersion: rbacmanager.reactiveops.io/v1beta1
kind: RBACDefinition
metadata:
    name: dev-access
rbacBindings:
    - name: dev
      subjects:
          - kind: User
            name: "{{ rbacemailDev }}"
      roleBindings:
          - clusterRole: dev
            namespaceSelector:
              matchLabels:
                level: dev