global:
  storageClass: "{{ StorageClassName }}"

allowNamespaceDiscovery: true

clusters:
  - name: default

ingress:
  ## Set to true to enable ingress record generation
  ##
  enabled: true

  ## Set this to true in order to add the corresponding annotations for cert-manager
  ##
  certManager: true

  ## When the ingress is enabled, a host pointing to this will be created
  ##
  hostname: "'kubeapps.' ~ {{ domain_hosts }}"

  tls: true

  annotations:
    kubernetes.io/ingress.class: "{{ IngressClass }}"
    kubernetes.io/tls-acme: "true"
    ## Keep the connection open with the API server even if idle (the default is 60 seconds)
    ## Setting it to 10 minutes which should be enough for our current use case of deploying/upgrading/deleting apps
    ##
    nginx.ingress.kubernetes.io/proxy-read-timeout: "600"

postgresql:
  persistence:
    enabled: true


securityContext:
  enabled: false
  runAsUser: 1001
  # fsGroup: 1001

# Auth Proxy configuration for OIDC support
# ref: https://github.com/kubeapps/kubeapps/blob/master/docs/user/using-an-OIDC-provider.md
authProxy:
  ## Set to true if Kubeapps should configure the OAuth login/logout URIs defined below.
  #
  enabled: "{{ kubeapps_google_oidc }}"
  ## When authProxy.enabled is true, by default Kubeapps will deploy its own
  ## auth-proxy service as part of the Kubeapps frontend. Set external to true
  ## if you are configuring your own auth proxy service external to Kubeapps
  ## and therefore dont want Kubeapps to deploy its own auth-proxy.
  #
  external: false
  ## Overridable flags for OAuth URIs to which the Kubeapps frontend redirects for authn.
  ## Useful when serving Kubeapps under a sub path or using an external auth proxy.
  ##
  oauthLoginURI: /oauth2/start
  oauthLogoutURI: /oauth2/sign_out

  ## Mandatory parameters for the internal auth-proxy.
  ##
  provider: "oidc"
  clientID: "{{ kubeapps_oidc_client_id }}"
  clientSecret: "{{ kubeapps_oidc_client_secret }}"
  ## cookieSecret is used by oauth2-proxy to encrypt any credentials so that it requires
  ## no storage. Note that it must be a particular number of bytes. Recommend using the
  ## following to generate a cookieSecret as per the oauth2 configuration documentation
  ## at https://pusher.github.io/oauth2_proxy/configuration :
  cookieSecret: "{{ kubeapps_oidc_cookie_secret }}"
  ## Use "example.com" to restrict logins to emails from example.com
  emailDomain: "*"
  ## Additional flags for oauth2-proxy
  ##
  additionalFlags:
    - "--oidc-issuer-url=https://accounts.google.com"
  # - --ssl-insecure-skip-verify
  # - --cookie-secure=false
  # - --scope=https://www.googleapis.com/auth/userinfo.email https://www.googleapis.com/auth/cloud-platform
