---

apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: loki-pv
  namespace: logging
spec:
  storageClassName: "{{ StorageClassName }}"
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 10Gi