loki:
  enabled: true

  persistence:
    enabled: true
    accessModes:
    - ReadWriteOnce
    size: 10Gi
    existingClaim: "loki-pv"

  serviceMonitor:
    enabled: true
    interval: ""
    additionalLabels:
      release: prometheus
      namespace: monitoring
    annotations: {}

  ingress:
    enabled: false
    annotations:
      kubernetes.io/ingress.class: "{{ IngressClass }}"
      kubernetes.io/tls-acme: "true"
      nginx.ingress.kubernetes.io/rewrite-target: "/"
      nginx.ingress.kubernetes.io/ssl-redirect: "true"
      cert-manager.io/cluster-issuer: "{{ ClusterIssuer }}"
    hosts:
     - host: "{{ 'loki.' ~ domain_hosts }}"
       paths: /
    tls:
      - secretName: loki-tls
        hosts:
          - "{{ 'loki.' ~ domain_hosts }}"

  # config:
  #   schema_config:
  #     configs:
  #     - from: "2020-11-16"
  #       store: boltdb-shipper
  #       object_store: s3
  #       schema: v11
  #       index:
  #         prefix: index_
  #         period: 24h

  #   storage_config:
  #     boltdb_shipper:
  #       active_index_directory: "/loki/index"
  #       cache_location: "/loki/index_cache"
  #       resync_interval: 5s
  #       shared_store: s3

  #     aws:
  #       s3: "{{ 's3://' ~ minio_AccessKey ~ ':' ~ minio_SecretKey ~ '@minio.minio:9000/loki' }}"
  #       s3forcepathstyle: true

  #   limits_config:
  #     enforce_metric_name: false
  #     reject_old_samples: true
  #     reject_old_samples_max_age: 168h

promtail:
  enabled: true

  serviceMonitor:
    enabled: true
    interval: ""
    additionalLabels:
      release: prometheus
      namespace: monitoring
    annotations: {}

fluent-bit:
  enabled: false
grafana:
  enabled: false
prometheus:
  enabled: false
filebeat:
  enabled: false
logstash:
  enabled: false