apiVersion: apps/v1
kind: Deployment
metadata:
  name: nfs-client-provisioner
  namespace: nfs-storage
  labels:
    app: nfs-client-provisioner
    tier: storage
spec:
  replicas: 1
  strategy:
    type: Recreate
  selector:
    matchLabels:
      app: nfs-client-provisioner
      tier: storage
  template:
    metadata:
      labels:
        app: nfs-client-provisioner
        tier: storage
    spec:
      serviceAccountName: nfs-client-provisioner
      volumes:
        - name: nfs-client-root
          nfs:
            server: "{{ NFS_SERVER }}"
            path: "{{ NFS_PATH }}"
      containers:
        - name: nfs-client-provisioner
          image: quay.io/external_storage/nfs-client-provisioner:latest
          volumeMounts:
            - name: nfs-client-root
              mountPath: /persistentvolumes
          env:
            - name: PROVISIONER_NAME
              value: "{{ NFS_PROVISIONER_NAME }}"
            - name: NFS_SERVER
              value: "{{ NFS_SERVER }}"
            - name: NFS_PATH
              value: "{{ NFS_PATH }}"