apiVersion: v1
kind: Secret
metadata:
  name: s3-secret
  namespace: bdd
type: Opaque
data:
  RESTIC_PASSWORD: "{{ stash_backup_password | b64encode }}"
  AWS_ACCESS_KEY_ID: "{{ minio_AccessKey | b64encode }}"
  AWS_SECRET_ACCESS_KEY: "{{ minio_SecretKey | b64encode }}"