license: "{{ kubedb_licence }}"

# If true, sends usage analytics
enableAnalytics: true
monitoring:
  # If true, enables monitoring KubeDB operator
  enabled: true
  # Name of monitoring agent (either "prometheus.io/operator" or "prometheus.io/builtin")
  agent: "prometheus.io/operator"
  serviceMonitor:
    # Specify the labels for ServiceMonitor.
    # Prometheus crd will select ServiceMonitor using these labels.
    # Only usable when monitoring agent is `prometheus.io/operator`.
    labels:
      release: prometheus